aiohttp==3.1.1
aiohttp-jinja2==0.17.0
aiopg==0.13.2
async-timeout==2.0.1
asyncpg==0.15.0
attrs==17.4.0
chardet==3.0.4
-e git+https://github.com/aio-libs/aiohttp.git@2584ba22ec1dffd60edcc0b370026eb8c5138a2b#egg=geonames_sunil&subdirectory=demos/polls
idna==2.6
idna-ssl==1.0.1
isort==4.3.4
Jinja2==2.10
MarkupSafe==1.0
multidict==4.1.0
psycopg2==2.7.4
PyYAML==3.12
SQLAlchemy==1.2.6
trafaret==1.1.1
trafaret-config==1.0.1
yapf==0.21.0
yarl==1.1.1
